<%= form_with model: @stock do |form| %>
    <div>
        <%= form.label :symbol %><br>
        <%= form.text_field :symbol %>
        <% @stock.errors.full_messages_for(:symbol).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :alias %><br>
        <%= form.text_field :alias %>
        <% @stock.errors.full_messages_for(:alias).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :currency %><br>
        <%=
            form.select :currency,
            Money::Currency.all.sort_by(&:name).map { |currency| [currency.name, currency.iso_code] },
            { prompt: "Select Currency" }
        %><br>
        <% @stock.errors.full_messages_for(:currency).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
    <%= form.submit %>
    </div>
<% end %>
